/* components/DailyList/DailyList.module.css */
.dailyContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: stretch;
  gap: 2rem;
  margin-top: 2rem;
}

.cardWrapper {
  width: 100%;
  max-width: 700px;
  height: 100%;
  flex: 1 1 45%;
}

.cardWrapper:hover {
  transform: scale(1.02);
}
