.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2rem 0.4rem;
  background: linear-gradient(90deg, #12101d, #3c394d);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  gap: 0.5rem;
}

.logo {
  display: flex;
  align-items: center;
  margin-right: auto;
  padding: 0 6rem;
  gap: 1rem;
  color: #594e9c;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
}

.logo img {
  height: 40px;
  width: auto;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  filter: drop-shadow(0 0 0.5rem rgba(146, 145, 148, 0.5));
}

.brandName {
  white-space: nowrap;
  display: flex;
  align-items: center;
  gap: 0.75rem;
  font-size: 1.7rem;
  font-weight: bold;
  color: white;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  transition: color 0.3s ease, transform 0.2s ease;
}

.brandName:active,
.brandName:visited,
.brandName:hover {
  color: white;
  transform: scale(1.05);
}

.nav {
  display: flex;
  justify-content: center;
  width: 100%;
}

.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.1rem;
  font-size: 1.2rem;
  font-weight: lighter;
}

.nav ul li {
  display: flex;
  align-items: center;
  padding: 0.4rem 0.8rem;
  border-radius: 8px;
  transition: background-color 0.2s ease;
}

.nav ul li:hover {
  background-color: #374151;
  cursor: pointer;
}

.nav a {
  color: #fff;
  text-decoration: none;
}

.navBtn {
  margin-left: 10px;
  padding: 8px 14px;
  background: #3b82f6;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  font-size: medium;
}

.navBtn:hover {
  background: #2563eb;
}

.welcome {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  padding: 0.4rem 0.3rem;
  font-weight: 600;
  color: #ffffff;
  border-radius: 8px;
  transition: background-color 0.2s ease;
}

.welcome a {
  text-decoration: none;
  color: inherit;
}

.welcome:hover {
  background-color: #374151;
  cursor: pointer;
}

.weatherWidget {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
}

.weatherWidget img {
  width: 30px;
  height: 30px;
  margin-right: 6px;
}

.weatherWidget span {
  font-size: 1.2rem;
  color: #fff;
  font-weight: bold;
}

.weatherInfo {
  display: flex;
  align-items: center;
}

.weatherInfo span {
  font-size: 15px;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: center;
    padding: 0.5rem 30px;
    height: auto;
  }

  .navbarContainer {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .logo {
    justify-content: center;
  }

  .brandName {
    font-size: 1.2rem;
    margin-top: 0.5rem;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .nav ul {
    flex-direction: column;
    gap: 0.5rem;
    padding-top: 0.5rem;
  }

  .weatherWidget {
    display: none;
  }
}

.pendingVerify {
  background-color: #fff3cd; /* Light yellow */
  border: 1px solid #ffeeba;
  padding: 0.4rem 0.8rem;
  border-radius: 6px;
  margin-left: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pendingText {
  color: #856404;
  font-weight: 500;
  font-size: 0.9rem;
  white-space: nowrap;
}

.verifiedPendingResent {
  background-color: #d4edda !important; /* Light green */
  border-color: #c3e6cb !important;
  color: #155724 !important;
}
