.fitness-list-container {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(48%, 1fr)
  ); /* Adjust the width as needed */
  gap: 10px; /* Add gap between items */
  list-style: none;
}

@media (max-width: 768px) {
  .fitness-list-container {
    grid-template-columns: 1fr; /* Single-column for mobile */
  }
}
