.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-grow: 1;
  text-align: center;
  margin-right: 10px;
  margin-bottom: 5px;
  padding: 1rem;
}

.item img {
  margin-right: 5px; /* Add spacing between image and paragraph */
  height: auto;
}

.item p {
  margin: 0;
  text-align: left;
  padding-left: 10px;
}

.link {
  text-decoration: none;
  color: inherit;
}

.link h3 {
  text-align: left;
  padding-left: 10px;
  margin-top: 0;
}


