.nourish-container {
  display: flex;
  justify-content: space-between;
}

.nourish-content {
  font-family: "Arial", sans-serif;
  color: #333;
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  flex: 1;
}

.nourish-content h2 {
  color: #231f20;
  margin-bottom: 16px;
  font-weight: bold;
  direction: ltr;
}

.nourish-content h3 {
  color: #231f20;
  margin-top: 24px;
  margin-bottom: 8px;
  font-weight: bold;
  direction: ltr;
}

.nourish-content p {
  line-height: 1.6;
  margin: 24px 0;
  font-size: 20px;
  font-family: "Proxima Nova";
  direction: ltr;
}

.nourish-content img {
  max-width: 100%;
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .nourish-content {
    padding: 10px;
  }
  .nourish-content h2,
  .nourish-content h3 {
    margin-left: 10px;
  }
}

.ad-sidebar {
  top: 100px; /* Adjust based on your header's height */
  right: 0;
  width: 300px; /* Common width for sidebar ads */
  height: 600px; /* Common height for sidebar ads */
  z-index: 100; /* Ensure it's above other content */
}

.ad-top {
  display: block;

  text-align: left;
}

.h3Class {
  text-align: left;
  margin-top: 20px;
  margin-left: 50px;
}

@media (min-width: 768px) {
  .ad-top {
    max-width: 728px; /* Standard leaderboard width */
    height: 90px; /* Standard leaderboard height */
  }
}

@media (max-width: 767px) {
  .ad-top {
    max-width: 320px; /* Standard mobile banner width */
    height: 50px; /* Standard mobile banner height */
  }
}
